body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
    background: url(pexels-cesar-galeão-3253501.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.left{
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 20px;
}
.left img{
    width: 150px;
    text-align: center;
    filter: invert(100px);
}
.left div{
    line-height: 19px;
    font-size: 25px;
    text-align: center;
}
.mid{
   display: block;
   width: 36%;
   margin: 20px auto;
}
.right{
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 20px;
}
.navbar{
    display: inline-block;
}
.navbar li{
        display: inline-block;
        font-size: 20px;
}
.navbar li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 30px 9px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: rgb(255, 255, 0);
}
.btn{
    font-family: 'Playfair Display', serif;
    margin: 0px 8px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 3px solid rgb(156, 137, 137);
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(61, 61, 61);
}
.container{
    border: 2px solid rgb(13, 13, 13);
    margin: 140px 85px;
    padding: 75px;
    width: 39%;
    border-radius: 22px;
    border-color: white;
}
.form-group input{
    text-align: center;
    display: block;
    width: 500px;
    padding: 2px;
    border: 2px solid black;
    margin: 12px auto;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
.container h1{
    text-align: center;
    font-size: 25px;
}
.container button{
    display: block;
    width: 500px;
    margin: 20px auto;
}